.tracabiliteButtonContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.beekeeperActionsButton {
    justify-content: left !important;
    margin-top: 0 !important;
}

.btnCardSecondary {
    background: rgba(255, 255, 255) !important;
    border: 2px solid var(--color-primary) !important;
}

.tracabiliteContainer {
    display: flex;
    justify-content: center;
    margin: auto;
}

.tracabiliteImage {
    flex: 0 0 45%;
    width: 45%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.15);
    object-fit: cover;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .tracabiliteImage {
        flex: 0 0 100%;
        width: 100%;
        max-height: 400px;
    }
}