.tracabiliteButtonContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.beekeeperActionsButton {
    justify-content: left !important;
    margin-top: 0 !important;
}

.btnCardSecondary {
    background: rgba(255, 255, 255) !important;
    border: 2px solid var(--color-primary) !important;
}
