@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #fef7e7;
  --primary-500: #f9bd28;
  --primary-600: #f8b724;
  --secondary-50: #f0fdf4;
  --secondary-500: #22c55e;
  --secondary-600: #16a34a;
}

@layer utilities {
  .text-primary-600 {
    color: var(--primary-600);
  }

  .text-secondary-600 {
    color: var(--secondary-600);
  }

  .border-primary-200 {
    border-color: #fdedc0;
  }

  .border-primary-400 {
    border-color: #fbd36a;
  }

  .border-secondary-200 {
    border-color: #bbf7d0;
  }

  .border-secondary-400 {
    border-color: #4ade80;
  }

  .bg-primary-600 {
    background-color: var(--primary-600);
  }
}

body {
  color: #333;
  background: #fff;
}
